body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-head {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;



}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-contant {
    max-width: 500px;
}

.banner-gratting {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-mainhead {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.heading-pragraph {
    width: 500px;

    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
    font-style: normal;
    color: #757575;
}

.profile-picture {
    width: 584px;

}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* color: red; */
    /* margin: 30px 10px; */
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    align-items: center;
}

.info-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;


}

.info-description {
    margin-top: -21px;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-title {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
/* .skill-img{ */
    /* padding-left: 0 auto; */
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

#what-i-do-description {
    padding: 30px 150px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}